{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form action="{{ path('app_login') }}" method="post">
	<input type="email" name="email" value="{{ last_username }}" required autofocus>
	<input
	type="password" name="password" required>

	<!-- Ajouter ici le token CSRF -->
	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

	<button type="submit btn-primary">Se connecter</button>
</form>


{% endblock %}
